/*
.contentPokemon {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #49d0b0;
  color: #fff;
}

.pokemonTypes {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.pokemonTypes .type {
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemonImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;

}

img {
  max-width: 100%;
  height: 200px;
}
*/

.contentPokemonPage {
  width: 100vw;
  height: 50vh;
  padding: 1rem 0;
  position: relative;
}

.pokemon .pokemonPageName {
  text-transform: capitalize;
  color: #fff;
  margin: 0.67rem 0 0 0;
}

.pokemon .pokemonPageNumber {
  color: #fff;
  text-align: right;
  font-size: .625rem;
}

.pokemon .pokemonPageTypes {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.pokemon .pokemonPageTypes .pokemonPageType {
  color: #fff;
  padding: .25rem .5rem;
  margin: 0 .15rem;
  font-size: .625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}



/* image div added to pokemon page to contain image so its position can be set to absolute
 check if the parent element (section) must be set with position relative*/
 .contentPokemonPage .pokemonPageImage img {
  position: absolute;
  top: 18vh;
  left: 12.5vw;
  max-width: 100%;
  height: 280px;
}
 



/**********************************************************************************/

.contentPokemonPage .pokemonInformation {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 55vh;
  padding: 1.5rem;
  margin: 0;
  border: none;
  border-radius: 2rem;
  background-color: #fff;
  position: absolute;
  top: 45vh;
}

